/* :root {
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  text-align: left;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background: green;
}

.ques {
  width: 100%;
}

.ques > p {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

.options {
  width: 100%;
  background: lightgreen;
  display: flex;
  flex-direction: column;
}

.option {
  margin: 2rem;
  background: plum;
}

.active {
  background: peru;
}

.option:hover {
  display: pointer;
}

.option p {
  padding: 2rem;
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .card {
    width: 80%;
  }

  .ques > p {
    font-size: 3.5rem;
    padding: 2.5rem;
  }

  .option {
    margin: 3rem;
  }

  .option p {
    padding: 2.5rem;
    font-size: 3.2rem;
  }
}
