:root {
  --white-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86); */
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
}

.result {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 2rem;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  margin-top: 3rem;
}

.player_name {
  font-size: 2.7rem;
  font-weight: 600;
}

.player_score {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

.trophy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trophy_img {
  width: 100%;
  height: auto;
}

.result_player {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .result {
    font-size: 6rem;
  }

  .trophy_img {
    width: 20%;
  }

  .players {
    margin: 0 12rem;
    margin-top: 4rem;
  }

  .player_name {
    font-size: 4rem;
  }

  .player_score {
    font-size: 3rem;
    font-weight: 700;
  }

  .result_player {
    font-size: 5rem;
  }
}
