:root {
    --black-color: rgb(3, 3, 3);
  }
  
  /* html {
    font-size: 62.5%;
  } */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    position: sticky;
  }
  
  .app_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  
  .navbar_links {
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .navbar_links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar_links ul li {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 2.5rem;
    color: white;
  }

  .container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2.5rem
}
  

  .display_score {
    border-radius: 50%;
    background: #936c6c;
    box-shadow: -5px 5px 33px #453333, 5px -5px 33px #e1a5a5;
    width: 15rem;
    height: 15rem;
    margin: 2.5rem
  }

  .score {
    align-items: center;
    text-align: center;
    padding: 4.5rem;
    font-size: 1.5rem;
  }

  .title_score{
    font-size: 2rem;
  }

  .message{
    text-align: center;
    margin:2rem
  }

  .text{
    font-size: 1.5rem;
  }


  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      height: 150px;
      justify-content: space-between;
      align-items: center;
      background: skyblue;
      position: sticky;
    }
    .app_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 80px;
      margin: 1.5rem;
    }
  
    .navbar_links {
      padding-right: 2.5rem;
      display: flex;
      flex-direction: column;
    }
    .navbar_links ul {
      margin-right: 1.5rem;
      display: flex;
      width: 100%;
    }
  
    .navbar_links ul li {
      list-style: none;
      font-size: 60px;
      color: white;
      padding: 4.5rem;
    }
  